header {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 36px;
}

.container {
  padding: 20px;
}

.elements {
  display: flex;
  justify-content: space-evenly;
}

hr {
  margin-bottom: 16px;
}
