<header>
  <h1>../tO---dO</h1>
  <hr />
</header>

<div class="elements">
  <p-button label="[00 think]" (onClick)="showAlert()"></p-button>
  <p-button label="[01 write]" (onClick)="showAlert()"></p-button>
  <p-button label="[02 do]" (onClick)="showAlert()"></p-button>
  <p-button label="[03 repeat]" (onClick)="showAlert()"></p-button>
</div>

<div class="card-board">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
<hr />
