.card-body {
  padding: 8px;
  margin: 4px;
  border-color: black;
  border: solid 2px;
  border-radius: 10px;
}

.card-options {
  display: flex;
  justify-content: space-evenly;
}

p {
  padding: 0 4px 0 4px;
}

.row {
  display: flex;
  justify-content: center;
}

.card-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 36px;
}

input,
button {
  border-bottom: none;
}

input {
  border-right: none;
}

button {
  border-left: none;
}
