* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* color: #677270; */
  color: rgb(180, 184, 187);
  background-color: bisque;
}

.container-back {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("source/imgs/qq.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.header,
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.main_border {
  flex: 1;
  display: flex;
  flex-direction: row;

  margin: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.row {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3,
h6,
.footer {
  align-self: center;
}

h3 {
  font-size: 120px;
  font-weight: 80;
}

divider {
  border-bottom: 1px solid #fff;
  margin: 1px 0;
}
